<form method="post" action="http://localhost:9000/subscription/form" class="listmonk-form">
    <div>
        <h3>Subscribe</h3>
        <p><input type="text" name="email" placeholder="E-mail" /></p>
        <p><input type="text" name="name" placeholder="Name (optional)" /></p>
      
        <p>
          <input id="73a22" type="checkbox" name="l" value="73a22c17-52cb-44e3-8fa6-5df36a9fbee8" />
          <label for="73a22">indexed-public</label>
        </p>
        <p><input type="submit" value="Subscribe" /></p>
    </div>
</form>
