<form method="post" action="http://listmonk.bonedaddy.io/subscription/form" class="listmonk-form">
  <div>
      <h3>Subscribe</h3>
      <p><input type="text" name="email" placeholder="E-mail" /></p>
      <p><input type="text" name="name" placeholder="Name (optional)" /></p>
    
      <p>
        <input id="b6938" type="checkbox" name="l" value="b6938409-8900-446f-835f-e83ddd2d3178" />
        <label for="b6938">The Indexed Times</label>
      </p>
      <p><input type="submit" value="Subscribe" /></p>
  </div>
</form>